@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Fast MVC</h1>
    <p class="lead">This is example/test application which can used to test how to use HTML5 + MVC technology to create fast web sites.</p>
</div>
