@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Example MVC</h1>
    <p class="lead">This is example/test application MVC application which can be used to compare speed with "FastMVC" and "SuperFastHTML5" projects.<br /><br />This project is created from Visual Studio MVC 5 template and it does not contain any optimizations.</p>
</div>
